<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.debug.breakpointListeners">
      <breakpointListener
            class="com.marcwi.eclipse.jdt.justmycode.JustMyCodeBreakpointListener"
            id="com.marcwi.eclipse.jdt.justmycode.breakpointListener1">
      </breakpointListener>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.marcwi.eclipse.jdt.justmycode.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.debug.ui.JavaDebugPreferencePage"
            class="com.marcwi.eclipse.jdt.justmycode.preferences.JustMyCodePreferencePage"
            id="com.marcwi.eclipse.jdt.justmycode.preferences.JustMyCodePreferencePage"
            name="Just My Code">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.marcwi.eclipse.jdt.justmycode.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
